DB_HOST=mariadb
DB_PORT=3306
DB_USER=icgames_user
DB_PASSWORD=icgames1234
DB_NAME=icgames
MONGODB_URL=mongodb://root:changeme@mongodb:27017/projecte_prg?authSource=admin
SECRET_KEY=canvia_aquesta_clau_per_una_de_llarga_i_aleatoria
