{% extends "base.html" %}

{% block title %}IC Games - Estadístiques{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">

</head>

<body>
    <h1 class="header">ESTADISTIQUES DE: {{ usuari }}</h1>

    <div class="dashboard-container">
        <div class="targeta">
            <h3>HISTÒRIC DE PUNTUACIÓ (Temps)</h3>
            <canvas id="graficHistoric"></canvas>
        </div>

        <div class="targeta">
            <h3>MITJANA D'ERRORS PER JOC</h3>
            <canvas id="graficErrors"></canvas>
        </div>
    </div>
    </main>
    </div>

    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
    {% endblock %}